<!DOCTYPE HTML>
<html>

<body>
    

   <%= @question %>
    
    <%= form_with url: "question_check" do |form| %>
    
    <%= radio_button_tag(:answer, "2") %>
    <%= label_tag(:answer, "2") %><br>
    
    <%= radio_button_tag(:answer, "5") %>
    <%= label_tag(:answer, "5") %><br>
    
    <%= radio_button_tag(:answer, "24") %>
    <%= label_tag(:answer, "2") %><br>
    
    <%= radio_button_tag(:answer, "1") %>
    <%= label_tag(:answer, "5") %><br>

    
      <%= form.submit %>
      <% end %>

</body>

</html>