<!DOCTYPE HTML>
<html>

<body>
    
    <h1>Question 7</h1>
    
    <%= form_with url: "question_check" do |form| %>
    
    <h2><%= @question7 %></h2>
    
    <%= hidden_field_tag(:question, "what is 1+1?") %>
     <%= hidden_field_tag(:id, "7") %>


    <%= radio_button_tag(:answer, "2") %>
    <%= label_tag(:answer, "2") %><br>
    
    <%= radio_button_tag(:answer, "5") %>
    <%= label_tag(:answer, "5") %><br>
    
    <%= radio_button_tag(:answer, "24") %>
    <%= label_tag(:answer, "2") %><br>
    
    <%= radio_button_tag(:answer, "1") %>
    <%= label_tag(:answer, "5") %><br>

    
      <%= form.submit %>
      <% end %>

</body>

</html>