<div class="container" id="quiz">

   <div id="questions"><b><%= @question %></b></div>

   <div id="answers">

        <%= form_with url: "question_check" do |form| %>
   
        <% @answers.each do |a| %>

            <%= radio_button_tag(:selected, a.correct) %>
            <%= label_tag(:selected, a.answer ) %> </br>
      
        <% end %>

     <div class="container" id="submit_button"> 

          <%= form.submit "Submit answer" %>
            <% end %>
    </div>

     <div id="question_count"><%= $question_number %><span> of 10</span></div>

    </div>
   
</div>

