<!DOCTYPE HTML>
<html>

<body>
    

   <%= @question %>
    
    <%= form_with url: "question_check" do |form| %>

    <% @answers.each do |a| %>

      <%= radio_button_tag(:selected, a.answer) %>
      <%= label_tag(:selected, a.answer ) %> </br>
      

    <% end %>




    
      <%= form.submit %>
      <% end %>

</body>

</html>